
<footer class="bg-dark text-light pt-5">
        <div class="container px-5">
            <div class="row">
                <div class="col">
                    <h4>Frameworks</h4>
                    <ul class="list-unstyled pt-2">
                        <li class="py-1">Bootstrap</li>
                        <li class="py-1">Angular</li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Tecnologías</h4>
                    <ul class="list-unstyled pt-2">
                        <li class="py-1">HTML</li>
                        <li class="py-1">CSS</li>
                        <li class="py-1">JavaScript</li>
                        <li class="py-1">NodeJs</li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Integrantes</h4>
                    <ul class="list-unstyled pt-2">
                        <li class="py-1">Facundo Farfan</li>
                        <li class="py-1">Torres Pablo</li>
                        <li class="py-1">Torres Cintia</li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Acerca de</h4>
                    <ul class="list-unstyled pt-2">
                        <li class="py-1">Programacion y Servicios Web</li>
                        <li class="py-1">FI UNJU</li>
                        <li class="py-1">APU</li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3 text-lg-end">
                    <h4>Seguinos en redes</h4>
                    <div class="social-media pt-2">
                        <a href="#" class="text-light fs-2 me-3"><i class="bi bi-whatsapp"></i></a> 
                        <a href="#" class="text-light fs-2 me-3"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="text-light fs-2 me-3"><i class="bi bi-youtube"></i></a>
                        <a href="#" class="text-light fs-2 me-3"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="row mt-4 pb-4 justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6">
                        <div class="newsletter-box text-center">
                            <h4 class="mb-3">Suscribite a nuestro Newsletter</h4>
                            <p class="text-secondary">Recibí las mejores ofertas de destinos argentinos en tu email.</p>
                            <form class="d-flex gap-2">
                                <input type="email" class="form-control" placeholder="Tu correo electrónico"
                                    aria-label="Email" required>
                                <button class="btn btn-primary" type="submit">Suscribirse</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-sm-flex justify-content-between py-1">
                <p>2026 © Openix. Todos los derechos reservados. </p>
                <p>
                    <a href="#" class="text-light text-decoration-none pe-4">Terminos de uso</a>
                    <a href="#" class="text-light text-decoration-none"> Política de privacidad</a>
                </p>
            </div>
        </div>
    </footer>