<div class="container p-4">
    <table class="table table-striped text-center">
    <thead class="table-dark align-middle">
        <tr>
            <th>DNI</th>
            <th>Curso</th>
            <th>Categoria del Alumno</th>
            <th>Total</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        <!--<tr *ngFor="let i of servicio.inscripciones">-->
        <tr>
            <!--<td>{{ i.dni }}</td>-->
            <!--<td>{{ i.curso }}</td>-->
           <!-- <td>{{ i.categoriaAlumno }}</td>-->
           <!-- <td>{{ i.total | currency }}</td>-->
            <!--<td>{{ i.fechaInscripcion | date:'dd/MM/yyyy' }}</td>-->
        </tr>
    </tbody>
</table>
<h3 class="text-center p-4">Resumen General</h3>
<div class="row">
    <div class="col-md-3">
        <div class="card border-sucess">
            <div class="card-body text-center">
                <h6 class="card-tirtle">Estudiantes</h6>
                <h2 class="fw-bold">2</h2>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-sucess">
            <div class="card-body text-center">
                <h6 class="card-tirtle">Egresados</h6>
                <h2 class="fw-bold">4</h2>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-sucess">
            <div class="card-body text-center">
                <h6 class="card-tirtle">Particulares</h6>
                <h2 class="fw-bold">4</h2>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-sucess">
            <div class="card-body text-center">
                <h6 class="card-tirtle">Total</h6>
                <h2 class="fw-bold">10</h2>
            </div>
        </div>
    </div>
</div>
</div>
